*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer-container{
    margin: 0px auto;
    width: 1000px;
}

.sec-nav{
    margin-top: 10px;
    width: 95%;
}
.sec-right{
    
    display: flex;
    justify-content: end;
    gap: 30px; 
    font-size: 20px;
    
    
}
.d-flex{
    width: 93%;
    height: 30px;
    border: 1px solid #05152e;
    border-radius: 7px;
}
.right-part{
    margin-right: 80px;
    margin-top: 15px;
}
#frst-name{
    color: #05152e;
    font-size: 23px;
    font-weight: 900;
}
#sec-name{
    color: #05152e;
    font-size: 23px;
    font-weight: 400;
}
.nav-btn{
    width: 106px;
    height: 34px;
    border-radius: 10px;
    background-color: #05152e;
    color: white;
    font-weight:700;
    border: none;
}
.nav-btn:hover{
box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#third-btn{
    background-color: rgba(188, 183, 183, 0.842);
    color: black;    
}
#third-btn:hover{
    
    background-color: #05152e;
    color: white;
    transition: ease-out;
}
#sec-btn{
    background-color: rgba(188, 183, 183, 0.842);;
    color: black;
}
#sec-btn:hover{
    background-color: #05152e;
    transition: ease-out;
    color: white;
}
.box{
    width: 60px;
    text-align: center;
    background-color: #46689e;
    height: 25px;
    color: white;
    border: 1px solid transparent;
    border-radius: 15px;
}
.categories-sec{
    width: 98%;
    display: flex;
    gap:80px;
    margin-left: 40px;
}
.pr{
    display: flex;
}
.categories-sec a{
    color: #05152e;
    text-decoration: none;
}
.categories-sec a :hover{
   transition: width 0.5s ease;
    background-color: rgba(120, 219, 120, 0.587);
}

.categories-sec i{
    margin-left: 10px;
    font-size: 27px;
    
}
#line{
    width: 95%;
}
.footer-sec{
    background-color: #05152e;
    color: white;
}
.social-sec{
    width: 85%;
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
}
.main-body{
    margin-bottom: 500px;
}
.h1 img{
    width: 1050px;

}